<head>
    <% include ../helpers/head %>
</head>

<body>
    <header>
        <% include ../helpers/navbar %>
    </header>
</body>

<h1> 
    ABOUT ME 
</h1>

<p>
    <br />
    <img src="images/me.jpg" width="170" height="300" style="float:left">
    <b>NAME</b>: Abby White <br />
    <b>HOMETOWN</b>: Wyomissing, Pennsylvania <br /> 
    <b>OCCUPATION</b>: Student at Wellesley College <br />
    <b>CLASS YEAR</b>: First-Year, Class of 2022 <br />
    <b>MAJOR/MINOR</b>: Math/Computer Science <br />
    <b>CURRENT CLASSES</b>: ASTR107, FREN102, MATH206, and WRIT160
</p>