<head>
    <% include ../helpers/head %>
</head>

<body>
    <header>
        <% include ../helpers/navbar %>
    </header>
</body>

<h1>
    CONTACT INFO
</h1>

<p>
    <br />
    <br />

    <button type="button" class="btn btn-secondary btn-lg">
        Email
    </button>
    abbywhite@gmail.com <br /> <br />

    <button type="button" class="btn btn-secondary btn-lg">
            Address
    </button>
    123 Candy Lane <br /> <br />

    <button type="button" class="btn btn-secondary btn-lg">
            Cell Number
    </button>
    123-456-7890 <br /> <br />
</p>