<html lang="en">
  <head>
    <% include ../helpers/head %>
  </head>

<body>
  <header>
    <% include ../helpers/navbar %>
  </header>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
    <h1>Abby</h1>
  </div>

  <p id="demo">
    Welcome to my website!
  </p>

  <button class="btn btn-secondary" type="button" onclick="myFunction()">
    Press here for a surprise!
  </button>

  <div id="smiley-image"/>


<!-- <button class="btn btn-default" type="button" onclick="myFunction()">
      Try it
    </button> -->
  
    <!-- <div id="doge-image"/> -->
</body>

</html>