<head>
    <% include ../helpers/head %>
</head>

<body>
    <header>
        <% include ../helpers/navbar %>
    </header>
</body>

<h1>
    PROJECTS
</h1>

<p>
    <br />      
    <img src="images/bordeaux.jpg" width="220" height="200">
    <br />
    Traveling abroad to Bordeaux, France <i>August 2019</i> 
    <br />
    Developing an app <i>Summer 2019</i>  
    <br />
    <br />
</p>